# CMake directory
build/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.nsight-gfxproj
**.DotSettings
**.user

# Renderdoc
*.cap

App/shader-error.txt
/temp

# Ignore models
App/Models/**
